<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/bootstrap-5.2.0-dist/css/bootstrap.min.css}" />
    <script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.2.0-dist/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>

<body>

    <div th:insert="fragments/publica-nav :: nav">

    </div>
    <div class="container" id="form-cont">

        <h2>Cadastrar usuário</h2>

        <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span th:text="${mensagem}"></span>
        </div>

        

        <form action="#" th:action="@{/usuario/salvar}" th:object="${usuario}" method="post">



            <div class="col">
                <label class="col-sm-1 col-form-label">Nome:</label>
                <input type="text" class="form-control" th:field="*{nome}">
                <span class="mensagem" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
            </div>

            <div class="col">
                <label class="col-sm-1 col-form-label">CPF:</label>
                <input type="text" class="form-control" th:field="*{cpf}">
                <span class="mensagem" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
                <span class="mensagem" th:if="${cpfExiste}" th:text="${cpfExiste}"></span>
            </div>

            <div class="col">
                <label class="col-sm-1 col-form-label">Nascimento:</label>
                <input type="text" class="form-control" th:field="*{dataNascimento}">
                <span class="mensagem" th:if="${#fields.hasErrors('dataNascimento')}"
                    th:errors="*{dataNascimento}"></span>
            </div>

            <div class="col">
                <label class="col-sm-1 col-form-label">Email:</label>
                <input type="text" class="form-control" th:field="*{email}">
                <span class="mensagem" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>

            <div class="col">
                <label class="col-sm-1 col-form-label">Login:</label>
                <input type="text" class="form-control" th:field="*{login}">
                <span class="mensagem justify-content-center" th:if="${#fields.hasErrors('login')}"
                    th:errors="*{login}"></span>
                <span class="mensagem" th:if="${loginExiste}" th:text="${loginExiste}"></span>
            </div>

            <div class="col">
                <label class="col-sm-1 col-form-label">Senha:</label>
                <input type="text" class="form-control" th:field="*{password}">
                <span class="mensagem" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>

            <div class="row px-3">
                <input type="submit" class="btn btn-info btn-fluid mt-2 mb-2" value="Cadastrar">
            </div>
           

            <div class="col">
                <span class="px-1 mt-2">Já possui conta? <a href="/" class="btn btn-outline-info btn-sm py-0 my-0">Login</a></span>
            </div>

        </form>

    </div>

    


</body>

</html>